%section.hero
	#slider1.slider
		.slides-wrapper
			.slides
				.slide.active
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "#{lorem.image('400x267')}"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('800x398')}"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('2000x720')}"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267')}"}
					.text-block
						%h2 Nunc erat dolor
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "#{lorem.image('400x267', :background_color => 'a65a5a')}"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('800x398', :background_color => 'a65a5a')}"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('2000x720', :background_color => 'a65a5a')}"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => 'a65a5a')}"}
					.text-block
						%h2 Nunc erat dolor
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('800x398', :background_color => '5a87a6')}"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('2000x720', :background_color => '5a87a6')}"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 Nunc erat dolor
						%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%section.servicios
	.inner
		%h2 SECTION
		#project1.project
			%h3 Subsection1
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "#{lorem.image('500x100')}"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p #{lorem.paragraph}
		#project2.project
			%h3 Subsection2
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "#{lorem.image('500x100')}"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p #{lorem.paragraph}
		#project3.project
			%h3 Subsection3
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "#{lorem.image('500x100')}"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p #{lorem.paragraph}
		#project4.project
			%h3 Subsection4
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "#{lorem.image('500x100')}"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p #{lorem.paragraph}
		#project5.project
			%h3 Subsection5
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "#{lorem.image('500x100')}"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p #{lorem.paragraph}
		#project6.project
			%h3 Subsection6
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "#{lorem.image('500x100')}"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p #{lorem.paragraph}
/
	%section.social
		.inner
			%h2.sec-title join the fabric fam
			.social-box.first.youtube
			.social-box.twitter
				%a.tweethandler{:href => "http://twitter.com/apliiq"} @apliiq
				%span#tweet
				%a.tweetlink{:href => "https://twitter.com/intent/tweet?screen_name=apliiq"} tweet us
				%a{:href => "http://twitter.com/apliiq"}
					.logo twitter
			.social-box.instagram
			.social-box.last.facebook
				%abbr.timeago{:title => ""}

