/%li #{js_dir}
/- data.mytest1.each do |t|
/	%li= t
/- data.mytest2.each do |f|
/	%li(style="color:red")= f.name

%section.hero
	#slider1.slider
		.slides-wrapper
			.slides
				.slide.active(style="display:block" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider1.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider1.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider1.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267')}"}
					.text-block
						%h2 El mejor equipo, las mejores herramientas
						//%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider2.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider2.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider2.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => 'a65a5a')}"}
					.text-block
						%h2 Profesionalidad desde 2005
						//%p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider3.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider3.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider3.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 No hay trabajo demasiado grande
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider4.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider4.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider4.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 No hay trabajo demasiado grande
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider5.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider5.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider5.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 No hay trabajo demasiado grande
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider6.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider6.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider6.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 No hay trabajo demasiado grande
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider7.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider7.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider7.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 No hay trabajo demasiado grande
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.slide(style="display:none" )
					/ %img{:alt => "", :src => "assets/img/slide1.jpg"}
					%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
						%div{"data-src" => "assets/img/slider/phone/slider8.jpg"}
						%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/slider/tablet/slider8.jpg"}
						%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/slider/desktop/slider8.jpg"}
						%noscript
							%img{:alt => "", :src => "#{lorem.image('400x267', :background_color => '5a87a6')}"}
					.text-block
						%h2 No hay trabajo demasiado grande
						//p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%section.servicios#servicios
	.inner
		%h2 SERVICIOS
		#project1.project
			%h3 Falsos Techos
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "assets/img/servicios/phone/techos.jpg"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/servicios/tablet/techos.jpg"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/servicios/desktop/techos.jpg"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p En PROPLAC BCN proporcionamos múltiples soluciones en el campo de los falsos techos, tanto de tipo continuo (cielo raso) como registrable o desmontable.
			%p En Techos continuos ofrecemos desde los techos más simples de placa de yeso laminado o cielo raso, para mejorar el confort térmico acústico de una vivienda, hasta complicados diseños en techos acústicos de auditorios, salas de fiesta y otras tipologías de edificios de concurrencia pública.
			%p En Techos registrables la diversidad de opciones es infinita. A diferencia de los techos continuos, este sistema de falso techo permite acceder por completo a las instalaciones ubicadas en el plenum.
			/PROPLAC BCN suministra e instala falsos techos registrables dentro de una amplia variedad de de posibilidades, tanto en materiales y formatos como prestaciones acústicas. Los materiales mas comunes son. viruta de madera, lana mineral, placa de yeso laminado, escayola, metálicos: bandejas y lamas, madera.

		#project2.project
			%h3 Tabiquería Seca
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "assets/img/servicios/phone/tabiqueria.jpg"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/servicios/tablet/tabiqueria.jpg"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/servicios/desktop/tabiqueria.jpg"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p Instalamos todo tipo de sistemas de tabiquería seca tanto divisorias de interiores como medianeras y tabicones concebidos para mejorar térmicamente acústicamente los espacios del usuario. Todos nuestros sistemas están conformidad con el Código Técnico de Edificación HE (ahorro energía) y HR (protección contra el ruido).
			%p
				Sus ventajas:
				%ul
					%li Rapidez de instalación
					%li Simplicidad para los diseños creativos
					%li Mejores cualidades acústicas y térmicas
					%li Ligereza de sistemas
					%li Ejecución limpia
					%li Ejecución conjunta con otros gremios

		#project3.project
			%h3 Mobiliario interior
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "assets/img/servicios/phone/mobiliario.jpg"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/servicios/tablet/mobiliario.jpg"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/servicios/desktop/mobiliario.jpg"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p Lejos de la fabricación en serie, en PROPLAC BCN producimos trabajos a medida y exclusivos. Gracias a nuestro equipo creamos composiciones que se adaptan a los deseos y necesidades de nuestros clientes.


		#project4.project
			%h3 Diseño de interiores
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "assets/img/servicios/phone/diseny.jpg"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/servicios/tablet/diseny.jpg"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/servicios/desktop/diseny.jpg"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p En PROPLAC BCN trabajamos con ideas y su realización. Es por eso que ayudándonos con el presupuesto y las preferecias del cliente, generamos ideas sobre el espacio los elementos necesarios y su elaboración.
			%p Le visitamos sin ningún compromiso, conocemos el espacio y sus necesisdades, se trazan las ideas generales del proyecto, le presentaremos diferentes propuestas de distribución y acabados y se le realiza el presupuesto.

		#project5.project
			%h3 Aislamientos
			%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
				%div{"data-src" => "assets/img/servicios/phone/aislamientos.jpg"}
				%div{"data-media" => "(min-width: 500px)", "data-src" => "assets/img/servicios/tablet/aislamientos.jpg"}
				%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/servicios/desktop/aislamientos.jpg"}
				%noscript
					%img{:alt => "", :src => "#{lorem.image('500x100')}"}
			%p Aislamientos <strong>térmicos</strong> y <strong>acústicos</strong> que aportan un mayor confort ambiental térmico y acústico a la vez que permiten un considerable ahorro de energía en las obras realizadas como viviendas o locales públicos.
			%p En aislamientos <strong>ignífugos</strong> la normativa vigente exige que muchas de las instalaciones que existen en el edificio sean protegidas para resistir a la acción del fuego durante un tiempo determinado. Para conseguirlo en PROPLAC BCN ofrecemos la instalación de sistemas constructivos (RF) que protegen dichas instalaciones ante la amenaza del fuego.

		-##project6.project
		-#	%h3 Subsection6
		-#	%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
		-#		%div{"data-src" => "#{lorem.image('500x100')}"}
		-#		%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('350x200')}"}
		-#		%div{"data-media" => "(min-width: 800px)", "data-src" => "#{lorem.image('380x380')}"}
		-#		%noscript
		-#			%img{:alt => "", :src => "#{lorem.image('500x100')}"}
		-#	%p #{lorem.paragraph}

%section.quienes-somos#quienes-somos
	.inner
		%h2 QUIÉNES SOMOS?
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('150x150')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('400x400')}"}
			%div{"data-media" => "(min-width: 800px)", "data-src" => "assets/img/servicios/phone/techos.jpg"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('150x150')}"}
		.text-block
			%p En el 2005 cursando estudios técnicos en el oficio se conocen Albert Viedma y Marc Mateo, aunque cada uno trabajaría prestando sus servicios en las mejores empresas de Barcelona del sector como autónomos en el 2008 en pleno auge de la construcción con la demanda de personal altamente cualificado nace PROPLAC BCN una empresa pequeña dedicada a la ejecución de obras de ámbito más selectivo.
			%p
				Nuestros clientes?
				%ul
					%li Empresas Instaladoras Oficiales
					%li Distribuidoras
					%li Interioristas
					%li Arquitectos
					%li Decoradores
					%li Particulares

%section.trabajos-realizados#trabajos-realizados
	.inner
		%h2 TRABAJOS REALIZADOS
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('300x200')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('600x400')}"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('300x200')}"}
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('200x200')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('400x400')}"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('200x200')}"}
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('150x200')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('300x400')}"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('150x200')}"}
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('300x200')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('600x400')}"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('300x200')}"}
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('150x200')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('300x400')}"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('150x200')}"}
		%div{"data-alt" => "", "data-picture" => "", "class" => "media-block"}
			%div{"data-src" => "#{lorem.image('325x200')}"}
			%div{"data-media" => "(min-width: 500px)", "data-src" => "#{lorem.image('650x400')}"}
			%noscript
				%img{:alt => "", :src => "#{lorem.image('325x200')}"}

-#%section.social#social
-#	.inner
-#		%h2.sec-title SECTION4
-#		.social-box.first.youtube
-#		.social-box.twitter
-#			%a.tweethandler{:href => "http://twitter.com/apliiq"}
-#			%span#tweet
-#			%a.tweetlink{:href => "https://twitter.com/intent/tweet?s creen_name=apliiq"}
-#			%a{:href => "http://twitter.com/apliiq"}
-#				.logo
-#		/.social-box.instagram
-#		.social-box.last.facebook
-#			%abbr.timeago{:title => ""}

